{% extends "blog/base.html" %}

{% block title %}
Về mình
{% endblock title %}

{% block content %}

<p><strong>VỀ M&Igrave;NH:</strong></p>
<p>M&igrave;nh l&agrave; Ho&agrave;ng Kim Đức, đang học đại học FPT H&agrave; Nội với học bổng 100%</p>
<p><img src="https://i.ibb.co/nL8g0Tp/DSC-5924.jpg" alt="" width="500" height="331" /></p>
<p>L&agrave; K14 v&agrave; b&acirc;y giờ đang nắm vị tr&iacute; trưởng ban Chuy&ecirc;n M&ocirc;n ở JS - C&acirc;u lạc
   bộ Japanese Software Engineerer.</p>
<p>M&igrave;nh cũng chỉ l&agrave; new bie th&ocirc;i. Vẫn đang&nbsp;bập b&otilde;m mấy kiến thức cơ bản!</p>
<p><strong>SỞ TH&Iacute;CH:</strong></p>
<p>Guitar!! M&igrave;nh chơi guitar cũng được 4 năm rồi. Mọi người c&oacute; thể v&agrave;o Instagram của m&igrave;nh để
   nghe m&igrave;nh đ&agrave;n b&agrave;i "When the love fall" nh&eacute;.</p>
<p>Tập thế dục!! Hồi trước m&igrave;nh c&oacute; tập gym rồi qua train Powerlifting. B&acirc;y giờ v&igrave; một số
   l&iacute; do (bao gồm cả lười v&agrave; tiếc tiền) n&ecirc;n m&igrave;nh chỉ c&ograve;n dậy sớm mỗi ng&agrave;y
   v&agrave; tập body weight "cho khỏe người" =))</p>
<p>&nbsp;</p>

{% endblock content %}