{% extends "blog/base.html" %}

{% block title %}
Về mình
{% endblock title %}

{% block content %}
<p><strong>VỀ M&Igrave;NH:</strong></p>
<p>M&igrave;nh l&agrave; Ho&agrave;ng Kim Đức, đang học tại Đại học FPT H&agrave; Nội ng&agrave;nh Software Engineering
   với học bổng 100%</p>
<p><img src="https://i.ibb.co/nL8g0Tp/DSC-5924.jpg" alt="" width="500" height="331" /></p>
<p>L&agrave; K14 v&agrave; đang nắm vị tr&iacute; trưởng ban Chuy&ecirc;n M&ocirc;n ở JS - C&acirc;u lạc bộ Japanese
   Software Engineerer.</p>
<p>C&acirc;u n&oacute;i m&igrave;nh th&iacute;ch nhất, l&agrave; ch&acirc;m ng&ocirc;n sống, cũng l&agrave; c&acirc;u
   n&oacute;i m&igrave;nh nghĩ đến mỗi khi ch&ugrave;n bước:</p>
<p style="padding-left: 30px;"><em>"You are not in a race with anyone, but yourself and time.</em></p>
<p>V&agrave; h&igrave;nh như c&acirc;u n&oacute;i n&agrave;y l&agrave; m&igrave;nh nghĩ ra, v&igrave; tự dưng 1
   ng&agrave;y m&igrave;nh ngộ ra điều n&agrave;y th&ocirc;i, kh&ocirc;ng nhớ l&agrave; đọc ở đ&acirc;u hay kh&ocirc;ng.
</p>
<p><strong>&nbsp;SỞ TH&Iacute;CH:</strong></p>
<ul>
   <li>Chơi guitar v&agrave; nghe nhạc. M&igrave;nh biết mặc d&ugrave; m&igrave;nh kh&ocirc;ng c&oacute; năng khiếu lắm
      nhưng tại chơi cũng được 5 năm rồi n&ecirc;n cũng đ&aacute;nh được v&agrave;i ba b&agrave;i. Lửa gần rơm l&acirc;u
      ng&agrave;y cũng b&eacute;n m&agrave; :))&nbsp;</li>
   <li>Ngủ sớm dậy sớm. L&uacute;c trước th&igrave; m&igrave;nh ngủ kh&aacute; muộn. Nhưng c&agrave;ng sau&nbsp;
      th&igrave; c&ocirc;ng việc ng&agrave;y c&agrave;ng nhiều. Thức đến 11h l&agrave; m&igrave;nh cũng kh&ocirc;ng
      c&ograve;n sức rồi n&ecirc;n th&agrave;nh ra ngủ sớm th&ocirc;i. Nhưng từ đ&oacute; m&igrave;nh nhận ra l&agrave;
      ngủ sớm cho m&igrave;nh nhiều thời gian hơn thật.</li>
   <li>Gi&uacute;p đỡ người kh&aacute;c. Thế n&ecirc;n đừng ngại hỏi m&igrave;nh nếu gặp kh&oacute; khăn trong việc học
      tập hay bất cứ thứ g&igrave;, ngại lắm th&igrave; mời 1 ly cafe l&agrave; được =))&nbsp;</li>
   <li>Uống cafe. Cho ai muốn mời m&igrave;nh cafe th&igrave; m&igrave;nh th&iacute;ch nhất l&agrave; uống đen đ&aacute;
      &iacute;t đường hoặc cafe cốt dừa nh&eacute;.</li>
</ul>
<p>&nbsp;</p>
{% endblock content %}
