<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <title>Blog</title>

   <!-- Bootstrap -->
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <!-- Medium Style Editor -->
   <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
   <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
      type="text/css" media="screen" charset="utf-8">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lobster|Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>
   <!-- NAVBAR -->
   <nav class="navbar navbar-expand-lg bg-light techfont">
      <a class="navbar-brand bigbrand" href="{% url 'post_list' %}"><img style="height: 50px; width: 50px;"
            class="img-thumbnail rounded-circle" src="{% static 'images/brand.jpg' %}"> Trang chủ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <img style="height: 50px" src="{% static 'icons/menu.png' %}" alt="">
         <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Blog
               </a>
               <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'tag1_list' %}">Kinh nghiệm học tập 
                     <img style="height: 15px" src="{% static 'icons/book.png' %}">
                  </a>
                  <a class="dropdown-item" href="{% url 'tag2_list' %}">Chuyện yêu đương 
                     <img style="height: 15px" src="{% static 'icons/love.png' %}">
                  </a>
                  <a class="dropdown-item" href="{% url 'tag3_list' %}">Linh tinh cá nhân 
                     <img style="height: 15px" src="{% static 'icons/personal.png' %}">
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Gửi tâm tư cho HKĐ
                     <img style="height: 15px" src="{% static 'icons/letter.png' %}">
                  </a>
               </div>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="#">Timeline</a>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'about' %}">Về bản thân <span class="sr-only">(current)</span></a>
            </li>
         </ul>
         <ul class="navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'post_new' %}">New Post</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            <li class="nav-item"><a class="nav-link">Welcome: {{user.username}}</a></li>
            {% else %}
            <li class="nav-item "><a class="nav-link" href="{% url 'login' %}">
               <img style="height:25px; width:25px;" src="{% static 'icons/admin.png' %}" alt="">
            </a></li>
            {% endif %}
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search (coming soon)" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
         </form>
      </div>
      
   </nav>
   <!-- CONTENT BODY -->

   <div class="content rounded mb-3">
      <div class="row mt-3">
         <div class="col-lg-9">
            <div class="blog_posts">
               {% block content %}
         
               {% endblock content %}
            </div>
         </div>

         <div class="col-lg-3 text-center">
            <div class="sidebar sticky-top">
               <div class="profile verticalline">
                  <img class="w-50 rounded border border-warning" src="{% static 'images/brand.jpg' %}" alt=""><br>
                  <b class="bigbrand">Hoàng Kim Đức</b> <br>
                  <em><small>Trưởng ban Chuyên Môn tại JS Club</small></em>
                  <p>Mình là một coder newbie, đang đua đòi học web. Ngủ 23h và dậy 6h sáng tập thể dục</p>
                  <hr>
                  <p>--- CONTACT ---<br>
                     <small>Email: hoangkimduclqd@gmail.com</small>
                     <small>Phone: 0948 692 350</small>
                     <div>
                        <a style="display: inline;" class="nav-link" href="https://www.facebook.com/hokiduc">
                           <img style="height:30px; width:30px;" src="{% static 'icons/facebook.png' %}" alt="">
                        </a>
                        <a style="display: inline;" class="nav-link" href="https://www.instagram.com/kimduwsc/">
                           <img style="height:30px; width:30px;" src="{% static 'icons/instagram.png' %}" alt="">
                        </a>
                     </div>
                  </p>
                  <hr>
                  <p>Đây là trang blog linh tinh về cá nhân mình thôi!</p>
               </div>
            </div>
         </div>
      </div>
      <br><br><br>
   </div>

   <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
         <small>Đây là project web đầu tiên mình tự làm. Được làm bởi Django, Jquery, Bootstrap
            <br>Copyright &copy; Power by Hoàng Kim Đức</small>
      </div>
   </footer>
</body>

</html>