<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   {% block sharebutton %}
   {% endblock sharebutton %}
   <title>
      {% block title %}
      {% endblock title %}
   </title>

   <link rel="icon" type="image/png" href="{% static 'images/base/brand.jpg' %}" />
   <!-- Bootstrap -->
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <!-- Medium Style Editor -->
   <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
   <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css"
      media="screen" charset="utf-8">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   <!-- Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lobster|Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>
   <!-- HEADER -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <section class="d-none d-xl-flex align-items-center bg-dark"
      style="height:25vmin; background-size: cover; background-image: url(/static/images/base/header.jpg);">
      <div class="container-fluid">
         <div class="row  justify-content-center align-items-left d-flex text-center h-100">
            <div class="col-12 col-md-8 mt-4 h-50 ">
               <h1 class="display-2  text-light mb-auto mt-auto"><strong>Hoang Kim Duc Blog</strong> </h1>
               <p class="lead  text-light mb-4">Blog cá nhân - Góc chia sẻ của mình</p>
            </div>

         </div>
      </div>
   </section>

   <!-- NAVBAR -->
   <nav class="navbar navbar-expand-lg bg-light techfont">
      <a class="navbar-brand bigbrand" href="{% url 'post_list' %}"><img style="height: 50px; width: 50px;"
            class="img-thumbnail rounded-circle" src="{% static 'images/base/brand.jpg' %}"> Trang chủ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <img style="height: 50px" src="{% static 'icons/menu.png' %}" alt="">
         <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Chuyện Coding
               </a>
               <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'tag1_list' %}">Kinh nghiệm cá nhân
                     <img style="height: 15px" src="{% static 'icons/book.png' %}">
                  </a>
                  <a class="dropdown-item" href="{% url 'tag2_list' %}">Chủ đề công nghệ
                     <img style="height: 15px" src="{% static 'icons/love.png' %}">
                  </a>
               </div>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Chuyện cá nhân
               </a>
               <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'tag3_list' %}">Linh tinh cá nhân
                     <img style="height: 15px" src="{% static 'icons/personal.png' %}">
                  </a>
                  <a class="dropdown-item" href="{% url 'tag4_list' %}">Công cuộc reviewer
                     <img style="height: 15px" src="{% static 'icons/review.png' %}">
                  </a>
               </div>
            </li>
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'about' %}">Về bản thân <span class="sr-only">(current)</span></a>
            </li>
         </ul>
         <ul class="navbar-nav navbar-right">

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Admin
               </a>
               <div class="dropdown-menu bg-light" aria-labelledby="adminDropdown">
                  <a class="dropdown-item" href="{% url 'post_new' %}">New Post</a>
                  <a class="dropdown-item" href="{% url 'post_draft_list' %}">Drafts</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"></a>
               </div>
            </li>

            <li class="nav-item pr-2 mt-auto mb-auto dropdown">
               <a class="nav-link" href="#" id="NotificationDropdown"
                   role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img style="height: 30px" src="{% static 'icons/bell.png' %}">
               </a>
               <div class="dropdown-menu dropdown-menu-right bg-light rounded"
                  aria-labelledby="NotificationDropdown"
                  style="box-shadow: 2px 2px 3px grey; width: 500px; height:350px; overflow-y: scroll; overflow-x:hidden">
                  {% for notification in Notification %}
                  <a href="/{{ notification.target }}/{{ notification.id_target }}/" class="dropdown-item">
                     <div style=" width: 500px;"><p style=" width:inherit;">{{ notification }}</p></div>
                     <div class="text-right"><small>{{ notification.time|date:"H:i - d/m"}}</small></div>
                  </a>
                  <hr>
                  {% endfor %}
               </div>

            </li>
            <li class="nav-item"><a class="nav-link">{{user.username}}</a></li>
            {% else %}
            <li class="nav-item "><a class="nav-link" href="{% url 'login' %}">
               <img style="height:25px; width:25px;" src="{% static 'icons/admin.png' %}" alt="">
            </a></li>
            {% endif %}
         </ul>
      </div>

   </nav>
   <!-- CONTENT BODY -->

   <div class="content rounded mb-3">
      <div class="row mt-3">
         <div class="col-lg-9">
            <div class="blog_posts">
               {% block content %}

               {% endblock content %}
            </div>
         </div>
         <!-- SIDEBAR -->
         <div class="col-lg-3 text-center ">
            <div class="sticky-top sidebar">
               <div class="profile pr-2 pl-2 verticalline">
                  <hr class='d-lg-none'>
                  <img class="w-50 rounded border border-warning" src="{% static 'images/base/icon.jpg' %}" alt=""><br>
                  <b class="bigbrand">Hoàng Kim Đức</b> <br>
                  <em><small>Trưởng ban Chuyên Môn tại JS Club</small></em>
                  <p>A young man with desire for love, playing, learning and sharing.</p>
                  <hr>
                  <p>--- CONTACT ---<br>
                     <small>Email: hoangkimduclqd@gmail.com</small><br>
                     <small>Phone: 0948 692 350</small>
                     <div>
                        <a style="display: inline;" class="nav-link" href="https://www.facebook.com/hokiduc"
                           target="_blank" rel="noopener noreferrer">
                           <img style="height:30px; width:30px;" src="{% static 'icons/facebook.png' %}" alt="">
                        </a>
                        <a style="display: inline;" class="nav-link" href="https://www.instagram.com/kimduwsc/"
                           target="_blank" rel="noopener noreferrer">
                           <img style="height:30px; width:30px;" src="{% static 'icons/instagram.png' %}" alt="">
                        </a>
                     </div>
                  </p>
                  <hr>
               </div>
            </div>
         </div>
      </div>
      <br><br><br>
   </div>

   <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
         <small>Đây là blog và cũng là web project đầu tiên mình làm.
            <br>Copyright &copy; Power by Hoàng Kim Đức</small>
      </div>
   </footer>
</body>

</html>
