{% extends "blog/base.html" %}

{% block title %}
HoKiDu Blog
{% endblock title %}

{% block content %}
<div class="centerstage">
   {% for post in post_list %}
   <br>
   <div class="post p-3 bg-light">
      <!-- if this is not an user, increase view -->
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
      <div class="date">
         <p>Published on: {{post.published_date|date:"G:i D, d M, Y"}}</p>
      </div>
      <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
   </div>
   {% endfor %}
</div>
{% endblock content %}