{% extends "blog/base.html" %}

{% block title %}
Hoang Kim Duc
{% endblock title %}

{% block content %}
<div class="centerstage">
   <div style="background-color: #E6EBE0;" class="p-4 rounded">
         {{ Description.text|safe }}
   </div>

   {% for post in page_obj %}
   <br>
   <div class="post p-3 bg-light">
      <!-- if this is not an user, increase view -->
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
      <div class="blog_posts date">
         <p>Published on: {{post.published_date|date:"G:i D, d M, Y"}}</p>
         <p class="postcontent">{{ post.text|safe|linebreaksbr|truncatechars:256 }}</p>
      </div>
      <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
   </div>   
   {% endfor %}

  {% if page_obj.paginator.num_pages != 1 %}
  <nav aria-label="navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a></li>
      {% endif %} 
      <li class="page-item active"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}</a></li>
      {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a></li>
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Last</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% endblock content %}